

.content-container {
    overflow: hidden;
}


.content {
    display : flex;

    height : 100% ;

    // transition: all 0.3s ease-in-out;
}


.content__page {
    min-width : 100% ;

    background-color: #474747;

    overflow: auto;
}