

.content {
    background-color : #272727;
    padding          : 32px;

    h2 {
        text-align: center;
    }

    p {
        margin    : 32px auto 0;
        max-width : 60ch;
    }

    a {
        color: gold;
    }
}