.form__input,
.form__textarea {
    display    : block;
    box-sizing : border-box;

    width         : 100%              ;
    height        : $line-height-m*2  ;
    padding       : 0 $line-height-m  ;
    margin-top    : $line-height-m    ;
    border: none;
    outline       : 1px solid black ;
    border-radius : 1em               ;
    // box-shadow    :  1px  1px black ,
    //                 -1px -1px black ;

    font-family : inherit ;
    font-size   : inherit ;
    text-align  : center  ;

    &:focus {
        outline: 1px solid $color-blue;
    }

    &.succeeded { display: none; }
}

.form__textarea {
    position: relative;

    height  : $line-height-m*4 ;
    padding : $line-height-m   ;
    
    text-align: left;
    
    resize: none;
    
    &::placeholder {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);
    }
}


.form__send-button {  // The SEND button
    width         : 100%             ;
    height        : $line-height-m*2 ;
    margin-top    : $line-height-m   ;
    border        : none             ;
    border-radius : 1em              ;

    font-family : inherit;
    font-size   : 1rem;

    background-color : $color-blue  ;
    color            : $color-white ;

    cursor : pointer ;
}

.error-message {
    color      : red;
    text-align : center;
}

.success-message { text-align : center; }